.App {
  display: flex;
  background-color: #152238;
  padding-left: 100px;
  align-items: left;
  height: 100vh;
}

.title-01 {
  font-size: 5rem;
  font-weight: normal;
  font-family: 'Arial', Arial, sans-serif;
  color: #ed706e;
}

.pdl-01 {
  padding-left: 4rem;
}

.mar-01 {
  margin: 8rem 0 0 6rem;
}

.txt-01 {
  font-size: 2rem;
  font-family: 'Arial', Arial, sans-serif;
  font-weight: normal;
  color: #9bd6e8;
}

.pdt-01 {
  padding-top: 1rem;
}

.marmin-01 {
  margin-top: -2.5rem;
}

.marmin-02 {
  margin-top: 2.5rem;
}

.txt-02 {
  font-size: 2rem;
  font-family: 'Arial', Arial, sans-serif;
  font-weight: normal;
  color: #d2e7fa;
}

.bg-01 {
  background-color: #2a425a;
}

.button {

  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}