.App {
  display: flex;
  background-color: #152238;
  padding-left: 100px;
  align-items: left;
  height: 100vh;
}

.App-title {
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 5vmin);
  text-align: left;
  padding-top: 100px;
  color: tomato;
}

.App-meanings {
  color: rgb(60, 94, 169);
  font-size: large;
  padding-top: 200px;
  padding-left: 50px;
}

.title-01 {
  font-size: 5rem;
  font-weight: normal;
  font-family: 'Arial', Arial, sans-serif;
  color: #ed706e;
}

.pdl-01 {
  padding-left: 4rem;
}

.mar-01 {
  margin: 8rem 0 0 6rem;
}

.txt-01 {
  font-size: 2rem;
  font-family: 'Arial', Arial, sans-serif;
  font-weight: normal;
  color: #9bd6e8;
}

.pdt-01 {
  padding-top: 1rem;
}

.marmin-01 {
  margin-top: -2.5rem;
}

.marmin-02 {
  margin-top: 2.5rem;
}

.txt-02 {
  font-size: 2rem;
  font-family: 'Arial', Arial, sans-serif;
  font-weight: normal;
  color: #d2e7fa;
}

.bg-01 {
  background-color: #2a425a;
}